@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
}
